#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

  behaviors {
    squote: single_double_quote {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp SINGLE_QUOTE>, <&kp DOUBLE_QUOTES>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

     backspace: backspace_delete {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp BACKSPACE>, <&kp DELETE>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    // ╭────┬────┬────┬────┬────┬────╮ ╭────┬────┬────┬────┬────┬────╮
    // │ 01 │ 02 │ 03 │ 04 │ 05 │ 06 │ │ 07 │ 08 │ 09 │ 10 │ 11 │ 12 │
    // ├────┼────┼────┼────┼────┼────┤ ├────┼────┼────┼────┼────┼────┤
    // │ 13 │ 14 │ 15 │ 16 │ 17 │ 18 │ │ 19 │ 20 │ 21 │ 22 │ 23 │ 24 │
    // ├────┼────┼────┼────┼────┼────┤ ├────┼────┼────┼────┼────┼────┤
    // │ 25 │ 26 │ 27 │ 28 │ 29 │ 30 │ │ 31 │ 32 │ 33 │ 34 │ 35 │ 36 │
    // ╰────┴────┴────┼────┼────┼────┤ ├────┼────┼────┼────┴────┴────╯
    //                │ 37 │ 38 │ 39 │ │ 40 │ 41 │ 42 │
    //                ╰────┴────┴────╯ ╰────┴────┴────╯

    default_layer {
      bindings = <
        // ╭─────────────────────────┬───────┬───────┬───────┬───────┬───────╮ ╭───────┬───────┬───────────┬────────────┬───────────────┬──────────────────╮
             &kp TAB                   &kp Q   &kp W   &kp E   &kp R   &kp T     &kp Y   &kp U   &kp I       &kp O        &kp P           &backspace
        // ├─────────────────────────┼───────┼───────┼───────┼───────┼───────┤ ├───────┼───────┼───────────┼────────────┼───────────────┼──────────────────┤
             &mt LEFT_CONTROL ESCAPE   &kp A   &kp S   &kp D   &kp F   &kp G     &kp H   &kp J   &kp K       &kp L        &kp SEMICOLON   &squote
        // ├─────────────────────────┼───────┼───────┼───────┼───────┼───────┤ ├───────┼───────┼───────────┼────────────┼───────────────┼──────────────────┤
             &mt LEFT_SHIFT CAPSLOCK   &kp Z   &kp X   &kp C   &kp V   &kp B     &kp N   &kp M   &kp COMMA   &kp PERIOD   &kp SLASH       &kp RIGHT_SHIFT
        // ╰─────────────────────────┴───┬───┴───────┴───┬───┴───┬───┴───────┤ ├───────┴───┬───┴───┬───────┴──────┬─────┴───────────────┴──────────────────╯
                                           &kp LEFT_META   &none   &kp SPACE     &kp ENTER   &none   &kp LEFT_ALT
        //                               ╰───────────────┴───────┴───────────╯ ╰───────────┴───────┴──────────────╯
      >;
    };
  };
};
